.blue {
            color: blue;
}

.green {
            color: green;
}

.experiment-descr{
  width:100%;
  border-collapse: collapse;
  margin-left: 5pt;
  margin-top: 5pt;
}

.experiment-descr-1{
  width:200;
  font-size: 85%;
  font-weight: bold;
  border-bottom: 1px solid #cccccc;
  padding-top: 4pt;
}
.experiment-descr-2{
  width:auto;
  height: auto;
  font-size: 85%;
  font-style: italic;
  margin-left: 1em;
  padding-top: 4pt;
  border-bottom: 1px solid #cccccc;
}
.experiment-descr-3{
  width:200;
  height:112;
  align: center;
  margin: '0 0 0 0';
  padding: '0 0 0 0';
}

.space {
    background-image: url( images/space123.png ) !important;
    width: 16px;
    height: 16px;
}

.users3 {
    background-image: url( images/users3.png ) !important;
    width: 16px;
    height: 16px;
}

.users3-edit {
    background-image: url( images/users3_edit.png ) !important;
    width: 16px;
    height: 16px;
}

.users3-add {
    background-image: url( images/users3_add.png ) !important;
    width: 16px;
    height: 16px;
}

.users3-delete {
    background-image: url( images/users3_delete.png ) !important;
    width: 16px;
    height: 16px;
}

.users3-preferences {
    background-image: url( images/users3_preferences.png ) !important;
    width: 16px;
    height: 16px;
}

.user {
    background-image: url( images/user.png ) !important;
    width: 16px;
    height: 16px;
}
.user-add {
    background-image: url( images/user_add.png ) !important;
    width: 16px;
    height: 16px;
}
.user-information {
    background-image: url( images/user_information.png ) !important;
    width: 16px;
    height: 16px;
}

.user-preferences {
    background-image: url( images/user_preferences.png ) !important;
    width: 16px;
    height: 16px;
}

.table2 {
    background-image: url( images/table2.png ) !important;
    width: 16px;
    height: 16px;
}

.table2-add {
    background-image: url( images/table2_add.png ) !important;
    width: 16px;
    height: 16px;
}

.table2-check {
    background-image: url( images/table2_check.png ) !important;
    width: 16px;
    height: 16px;
}

.table2-ok {
    background-image: url( images/table2_ok.png ) !important;
    width: 16px;
    height: 16px;
}

.table-refresh {
    background-image: url( images/table_refresh.png ) !important;
    width: 16px;
    height: 16px;
}

.table-row-add {
    background-image: url( images/table_row_add.png ) !important;
    width: 16px;
    height: 16px;
}

.table-row-delete {
    background-image: url( images/table_row_delete.png ) !important;
    width: 16px;
    height: 16px;
}

.table-row-edit {
    background-image: url( images/table_row_edit.png ) !important;
    width: 16px;
    height: 16px;
}

.chart {
    background-image: url( images/chart_area.png ) !important;
    width: 16px;
    height: 16px;
}

.chart-line {
    background-image: url( images/chart_line.png ) !important;
    width: 16px;
    height: 16px;
}

.check {
    background-image: url( images/check.png ) !important;
    width: 16px;
    height: 16px;
}

.clock {
    background-image: url( images/clock.png ) !important;
    width: 16px;
    height: 16px;
}

.battery-red {
    background-image: url( images/battery_red_10.png ) !important;
    width: 16px;
    height: 16px;
}

.battery-green {
    background-image: url( images/battery_green_67.png ) !important;
    width: 16px;
    height: 16px;
}

.magazine-folder {
    background-image: url( images/magazine_folder.png ) !important;
    width: 16px;
    height: 16px;
}

.form-blue {
    background-image: url( images/form_blue.png ) !important;
    width: 16px;
    height: 16px;
}

.form-blue-add {
    background-image: url( images/form_blue_add.png ) !important;
    width: 16px;
    height: 16px;
}

.form-blue-edit {
    background-image: url( images/form_blue_edit.png ) !important;
    width: 16px;
    height: 16px;
}

.folder {
    background-image: url( images/folder.png ) !important;
    width: 16px;
    height: 16px;
}

.folder2 {
    background-image: url( images/folder2.png ) !important;
    width: 16px;
    height: 16px;
}

.folder3 {
    background-image: url( images/folder3.png ) !important;
    width: 16px;
    height: 16px;
}

.folder-document {
    background-image: url( images/folder_document.png ) !important;
    width: 16px;
    height: 16px;
}

.army-knife {
    background-image: url( images/army_knife.png ) !important;
    width: 16px;
    height: 16px;
}

.genome-browser {
    background-image: url( images/genome_browser.png ) !important;
    width: 16px;
    height: 16px;
}

.atom {
    background-image: url( images/atom.png ) !important;
    width: 16px;
    height: 16px;
}

.bottle-pills {
    background-image: url( images/bottle_of_pills.png ) !important;
    width: 16px;
    height: 16px;
}

.delete {
    background-image: url( images/delete.png ) !important;
    width: 16px;
    height: 16px;
}

.garbage {
    background-image: url( images/garbage.png ) !important;
    width: 16px;
    height: 16px;
}

.garbage-delete {
    background-image: url( images/garbage_delete.png ) !important;
    width: 16px;
    height: 16px;
}

.application-enterprise-error {
    background-image: url( images/application_enterprise_error.png ) !important;
    width: 16px;
    height: 16px;
}

.application-enterprise-new {
    background-image: url( images/application_enterprise_new.png ) !important;
    width: 16px;
    height: 16px;
}

.application-enterprise-ok {
    background-image: url( images/application_enterprise_ok.png ) !important;
    width: 16px;
    height: 16px;
}

.application-enterprise-warning {
    background-image: url( images/application_enterprise_warning.png ) !important;
    width: 16px;
    height: 16px;
}


.data-0-0 {
    background-image: url( images/data_new.png ) !important;
    width: 16px;
    height: 16px;
}

.data-0-1 {
    background-image: url( images/data_copy.png ) !important;
    width: 16px;
    height: 16px;
}

.data-0-2 {
    background-image: url( images/data_ok.png ) !important;
    width: 16px;
    height: 16px;
}

.data-2-0 {
    background-image: url( images/data_error.png ) !important;
    width: 16px;
    height: 16px;
}

.data-1-0 {
    background-image: url( images/data_warning.png ) !important;
    width: 16px;
    height: 16px;
}

.data-down {
    background-image: url( images/data_down.png ) !important;
    width: 16px;
    height: 16px;
}

.gear {
    background-image: url( images/gear.png ) !important;
    width: 16px;
    height: 16px;
}

.gear-0-10 {
    background-image: url( images/gear_new.png ) !important;
    width: 16px;
    height: 16px;
}

.gear-0-11 {
    background-image: url( images/gear_run.png ) !important;
    width: 16px;
    height: 16px;
}

.gear-0-12 {
    background-image: url( images/gear_ok.png ) !important;
    width: 16px;
    height: 16px;
}

.gear-2-10 {
    background-image: url( images/gear_error.png ) !important;
    width: 16px;
    height: 16px;
}

.gear-1-10 {
    background-image: url( images/gear_warning.png ) !important;
    width: 16px;
    height: 16px;
}

.floppy-disk-add {
    background-image: url( images/floppy_disk_add.png ) !important;
    width: 16px;
    height: 16px;
}
