.headtext {
    color: #335;
    font: bold 13px arial, helvetica;
    text-align: left;
}


#loading-mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    cursor: wait;
    background-image: url('images/ems_logo.png') !important;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center;
    /*top: center;*/
}

#loading {
    background: url(ext/resources/themes/images/default/grid/loading.gif);
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: 82% 29%;
    position: absolute;
    left: 42%;
    top: 50%;
    padding: 80px 5px;
    height: 144px;
    width: 256px;
    color: #555;
    font-size: 17px;
    font-weight: bold;
    text-align: left;
    cursor:wait;
    border: none;

}

.loading {
    background: url(ext/resources/themes/images/default/grid/loading.gif);
    color: #555;
    /*font: bold 13px tahoma, arial, helvetica;*/
    margin: 0;
    text-align: center;
    height: 16px;
    width: 16px;
    /*cursor:wait;*/
    /*border:1px solid #d0d0d0;*/
    /*background-color:#eee;*/
}

.x-mask.splashscreen {
    background-color: white;
    opacity: 1;
}

.x-mask-msg.splashscreen,
.x-mask-msg.splashscreen div {
    font-size: 17px;
    font-weight: bold;
    color: #555;
    text-align: left;
    /*padding: 30px 5px 5px 5px;*/
    border: none;
    background-color: transparent;
    background-position: right; /*top center;*/
}

.x-message-box .x-window-body .x-box-inner {
    min-height: 110px !important;
}

.x-splash-icon {
    background-image: url('images/ems_logo.png') !important;
    background-repeat: no-repeat;
    height: 144px;
    width: 256px;
}

.key {
    background-image: url('images/key.png') !important;
}

.key-go {
    background-image: url('images/key_go.png') !important;
}

.cancel {
    background-image: url('images/cancel.png') !important;
}

.logout {
    background-image: url('images/door_in.png') !important;
}

#project2-details-panel .details-info {
    margin: 15px;
    padding: 15px;
    border: 1px dotted #999;
    color: #555;
    background: #f9f9f9;
}

#project2-details-panel a {
    color: #15428B;
}

#project2-details-panel a:link,
#project2-details-panel a:visited {
    text-decoration: none;
}

#project2-details-panel a:hover {
    text-decoration: underline;
}

.panel-text {
    margin-right: 5px;
    margin-left: 5px;
    padding: 0;
    text-align: justify;
    line-height: 1.5em;
    color: #04408C;
    font-style: italic;
}

.blue {
    color: blue;
}

.green {
    color: green;
}

.red-back .x-grid-cell {
    background: #ffe2e2 !important;
}

.blue-back {
    background: #58ACFA !important;
}

.deseq-number {
    text-align: center;
}

.manorm-number {
    text-align: center;
}

.experiment-descr {
    width: 100%;
    border-collapse: collapse;
    margin-left: 5pt;
    margin-top: 5pt;
}

.experiment-descr-1 {
    width: 200px;
    font-size: 85%;
    font-weight: bold;
    border-bottom: 1px solid #cccccc;
    padding-top: 4pt;
}

.experiment-descr-2 {
    width: auto;
    height: auto;
    font-size: 85%;
    font-style: italic;
    margin-left: 1em;
    padding-top: 4pt;
    border-bottom: 1px solid #cccccc;
}

.experiment-descr-3 {
    width: 200px;
    height: 112px;
    text-align: center;
    margin: 0;
    padding: 0;
}

.windows {
    background-image: url(images/windows.png) !important;
    width: 16px;
    height: 16px;
}

.default {
    background-image: url(images/windows.png) !important;
    width: 16px;
    height: 16px;
}

.space {
    /* background-image : url ( images/space123.png ) !important;*/
    width: 16px;
    height: 16px;
}

.space5 {
    /* background-image : url ( images/space123.png ) !important;*/
    width: 5px;
    height: 16px;
}

.about {
    background-image: url(images/about.png) !important;
    width: 16px;
    height: 16px;
}

.cut {
    background-image: url(images/cut.png) !important;
    width: 16px;
    height: 16px;
}

.help {
    background-image: url(images/unknown.png) !important;
    width: 16px;
    height: 16px;
}

.wrench {
    background-image: url(images/wrench.png) !important;
    width: 16px;
    height: 16px;
}

.refresh {
    background-image: url(images/refresh.png) !important;
    width: 16px;
    height: 16px;
}

.information {
    background-image: url(images/information.png) !important;
    width: 16px;
    height: 16px;
}

.question_and_answer {
    background-image: url(images/question_and_answer.png) !important;
    width: 16px;
    height: 16px;
}

.surveillance-camera {
    background-image: url(images/surveillance_camera.png) !important;
    width: 16px;
    height: 16px;
}

.preferences-edit {
    background-image: url(images/preferences_edit.png) !important;
    width: 16px;
    height: 16px;
}

.users3 {
    background-image: url(images/users3.png) !important;
    width: 16px;
    height: 16px;
}

.users3-edit {
    background-image: url(images/users3_edit.png) !important;
    width: 16px;
    height: 16px;
}

.users3-add {
    background-image: url(images/users3_add.png) !important;
    width: 16px;
    height: 16px;
}

.users3-delete {
    background-image: url(images/users3_delete.png) !important;
    width: 16px;
    height: 16px;
}

.users3-preferences {
    background-image: url(images/users3_preferences.png) !important;
    width: 16px;
    height: 16px;
}

.user {
    background-image: url(images/user.png) !important;
    width: 16px;
    height: 16px;
}

.user-add {
    background-image: url(images/user_add.png) !important;
    width: 16px;
    height: 16px;
}

.user-new {
    background-image: url(images/user_new.png) !important;
    width: 16px;
    height: 16px;
}

.user-edit {
    background-image: url(images/user_edit.png) !important;
    width: 16px;
    height: 16px;
}

.user-delete {
    background-image: url(images/user_delete.png) !important;
    width: 16px;
    height: 16px;
}

.user-information {
    background-image: url(images/user_information.png) !important;
    width: 16px;
    height: 16px;
}

.user-preferences {
    background-image: url(images/user_preferences.png) !important;
    width: 16px;
    height: 16px;
}

.table2 {
    background-image: url(images/table2.png) !important;
    width: 16px;
    height: 16px;
}

.table2-add {
    background-image: url(images/table2_add.png) !important;
    width: 16px;
    height: 16px;
}

.table2-check {
    background-image: url(images/table2_check.png) !important;
    width: 16px;
    height: 16px;
}

.table2-view {
    background-image: url(images/table2_view.png) !important;
    width: 16px;
    height: 16px;
}

.table2-ok {
    background-image: url(images/table2_ok.png) !important;
    width: 16px;
    height: 16px;
}

.tables {
    background-image: url(images/tables.png) !important;
    width: 16px;
    height: 16px;
}

.table-refresh {
    background-image: url(images/table_refresh.png) !important;
    width: 16px;
    height: 16px;
}

.table-ok {
    background-image: url(images/table_ok.png) !important;
    width: 16px;
    height: 16px;
}

.table-row-add {
    background-image: url(images/table_row_add.png) !important;
    width: 16px;
    height: 16px;
}

.table-row-delete {
    background-image: url(images/table_row_delete.png) !important;
    width: 16px;
    height: 16px;
}

.table-row-edit {
    background-image: url(images/table_row_edit.png) !important;
    width: 16px;
    height: 16px;
}

.chart {
    background-image: url(images/chart_area.png) !important;
    width: 16px;
    height: 16px;
}

.chart-line {
    background-image: url(images/chart_line.png) !important;
    width: 16px;
    height: 16px;
}

.chart-column {
    background-image: url(images/chart_column.png) !important;
    width: 16px;
    height: 16px;
}

.chart-heat {
    background-image: url(images/heat_chart.png) !important;
    width: 16px;
    height: 16px;
}

.check {
    background-image: url(images/check.png) !important;
    width: 16px;
    height: 16px;
}

.clock {
    background-image: url(images/clock.png) !important;
    width: 16px;
    height: 16px;
}

.battery-red {
    background-image: url(images/battery_red_10.png) !important;
    width: 16px;
    height: 16px;
}

.battery-green {
    background-image: url(images/battery_green_67.png) !important;
    width: 16px;
    height: 16px;
}

.magazine-folder {
    background-image: url(images/magazine_folder.png) !important;
    width: 16px;
    height: 16px;
}

.form-blue {
    background-image: url(images/form_blue.png) !important;
    width: 16px;
    height: 16px;
}

.form-blue-add {
    background-image: url(images/form_blue_add.png) !important;
    width: 16px;
    height: 16px;
}

.form-blue-edit {
    background-image: url(images/form_blue_edit.png) !important;
    width: 16px;
    height: 16px;
}

.form-blue-delete {
    background-image: url(images/form_blue_delete.png) !important;
    width: 16px;
    height: 16px;
}

.folder {
    background-image: url(images/folder.png) !important;
    width: 16px;
    height: 16px;
}

.folder-add {
    background-image: url(images/folder_add.png) !important;
    width: 16px;
    height: 16px;
}

.folder-delete {
    background-image: url(images/folder_delete.png) !important;
    width: 16px;
    height: 16px;
}

.folder-into {
    background-image: url(images/folder_into.png) !important;
    width: 16px;
    height: 16px;
}

.folder2 {
    background-image: url(images/folder2.png) !important;
    width: 16px;
    height: 16px;
}

.folder3 {
    background-image: url(images/folder3.png) !important;
    width: 16px;
    height: 16px;
}

.folder-document {
    background-image: url(images/folder_document.png) !important;
    width: 16px;
    height: 16px;
}

.army-knife {
    background-image: url(images/army_knife.png) !important;
    width: 16px;
    height: 16px;
}

.genome-browser {
    background-image: url(images/genome_browser.png) !important;
    width: 16px;
    height: 16px;
}

.atom {
    background-image: url(images/atom.png) !important;
    width: 16px;
    height: 16px;
}

.bottle-pills {
    background-image: url(images/bottle_of_pills.png) !important;
    width: 16px;
    height: 16px;
}

.delete {
    background-image: url(images/delete.png) !important;
    width: 16px;
    height: 16px;
}

.add {
    background-image: url(images/add.png) !important;
    width: 16px;
    height: 16px;
}

.garbage {
    background-image: url(images/garbage.png) !important;
    width: 16px;
    height: 16px;
}

.garbage-delete {
    background-image: url(images/garbage_delete.png) !important;
    width: 16px;
    height: 16px;
}

.application-enterprise-error {
    background-image: url(images/application_enterprise_error.png) !important;
    width: 16px;
    height: 16px;
}

.application-enterprise-new {
    background-image: url(images/application_enterprise_new.png) !important;
    width: 16px;
    height: 16px;
}

.application-enterprise-ok {
    background-image: url(images/application_enterprise_ok.png) !important;
    width: 16px;
    height: 16px;
}

.application-enterprise-warning {
    background-image: url(images/application_enterprise_warning.png) !important;
    width: 16px;
    height: 16px;
}

.data-0-0 {
    background-image: url(images/data_new.png) !important;
    width: 16px;
    height: 16px;
}

.data-0-1 {
    background-image: url(images/data_copy.png) !important;
    width: 16px;
    height: 16px;
}

.data-0-2 {
    background-image: url(images/data_ok.png) !important;
    width: 16px;
    height: 16px;
}

.data-2-0 {
    background-image: url(images/data_error.png) !important;
    width: 16px;
    height: 16px;
}

.data-1-0 {
    background-image: url(images/data_warning.png) !important;
    width: 16px;
    height: 16px;
}

.data-down {
    background-image: url(images/data_down.png) !important;
    width: 16px;
    height: 16px;
}

.gears-preferences {
    background-image: url(images/gears_preferences.png) !important;
    width: 16px;
    height: 16px;
}

.gear {
    background-image: url(images/gear.png) !important;
    width: 16px;
    height: 16px;
}

.gear-0-10 {
    background-image: url(images/gear_new.png) !important;
    width: 16px;
    height: 16px;
}

.gear-0-11 {
    background-image: url(images/gear_run.png) !important;
    width: 16px;
    height: 16px;
}

.gear-0-12 {
    background-image: url(images/gear_ok.png) !important;
    width: 16px;
    height: 16px;
}

.gear-2-10 {
    background-image: url(images/gear_error.png) !important;
    width: 16px;
    height: 16px;
}

.gear-1-10 {
    background-image: url(images/gear_warning.png) !important;
    width: 16px;
    height: 16px;
}

.step-0-20 {
    background-image: url(images/step_new.png) !important;
    width: 16px;
    height: 16px;
}

.step-0-21 {
    background-image: url(images/step_run.png) !important;
    width: 16px;
    height: 16px;
}

.step-0-22 {
    background-image: url(images/step.png) !important;
    width: 16px;
    height: 16px;
}

.step-2-20 {
    background-image: url(images/step_delete.png) !important;
    width: 16px;
    height: 16px;
}

.floppy-disk-add {
    background-image: url(images/floppy_disk_add.png) !important;
    width: 16px;
    height: 16px;
}

.disk {
    background-image: url(images/disk.png) !important;
    width: 16px;
    height: 16px;
}

.element-edit {
    background-image: url(images/element_edit.png) !important;
    width: 16px;
    height: 16px;
}

.notebook-edit {
    background-image: url(images/notebook_edit.png) !important;
    width: 16px;
    height: 16px;
}

.notebook3 {
    background-image: url(images/notebook3.png) !important;
    width: 16px;
    height: 16px;
}

.media-play-green {
    background-image: url(images/media_play_green.png) !important;
    width: 16px;
    height: 16px;
}

.funnel-add {
    background-image: url(images/funnel_add.png) !important;
    width: 16px;
    height: 16px;
}

.index-add {
    background-image: url(images/index_add.png) !important;
    width: 16px;
    height: 16px;
}

.index2 {
    background-image: url(images/index2.png) !important;
    width: 16px;
    height: 16px;
}

.view {
    background-image: url(images/view.png) !important;
    width: 16px;
    height: 16px;
}

.manorm {
    background-image: url(images/documents_preferences_s.png) !important;
    width: 16px;
    height: 16px;
}

.svg-logo {
    background-image: url(images/svg_logo.png) !important;
    max-width: 16px;
    max-height: 16px;
}

.sort {
    background-image: url(images/sort_up_down.png) !important;
    max-width: 16px;
    max-height: 16px;
}

.sorted {
    background-image: url(images/sort_ascending.png) !important;
    max-width: 16px;
    max-height: 16px;
}



.groupstopic {
    padding: 2px 0 0 20px;
    background: transparent url(images/users_family.png) no-repeat;
}

.x-rtl .groupstopic {
    padding: 2px 20px 0 0;
    background: transparent url(images/users_family.png) no-repeat top right;
}

.groupstopic b {
    font-family: tahoma, verdana;
    display: block;
    color: #333;
}

.userstopic {
    padding: 2px 0 0 20px;
    background: transparent url(images/user_information.png) no-repeat;
}

.x-rtl .userstopic {
    padding: 2px 20px 0 0;
    background: transparent url(images/user_information.png) no-repeat top right;
}

.userstopic b {
    font-family: tahoma, verdana;
    display: block;
    color: #333;
}

.grptopic {
    padding: 2px 0 0 20px;
    background: transparent url(images/form_blue_edit.png) no-repeat;
}

.x-rtl .grptopic {
    padding: 2px 20px 0 0;
    background: transparent url(images/form_blue_edit.png) no-repeat top right;
}

.grptopic b {
    font-family: tahoma, verdana;
    display: block;
    color: #333;
}

.analysis {
    background-image: url(images/cube_molecule_view.png) !important;
    width: 16px;
    height: 16px;
}

.multilineColumn .x-grid-cell-inner {
    white-space: normal !important;
}

.multilineColumnR .x-grid-cell-inner {
    white-space: normal !important;
    text-align: right;
}

.x-grid-hd-inner {
    white-space: normal;
}

.x-column-header-inner .x-column-header-text {
    white-space: normal;
    display: table-cell;
    vertical-align: middle;
    text-align: middle;
    horizontal-align: middle;
}

/*.x-grid-row-table TD {line-height: 16px;}*/
/*.x-grid-row .x-grid-cell-inner {*/
    /*white-space: normal;*/
    /*display: table-cell;*/
    /*vertical-align: middle;*/
/*}*/

/*actioncolumn space*/
/*.x-action-col-icon {*/
    /*height: 16px;*/
    /*width: 16px;*/
    /*margin-right: 8px;*/
/*}*/
.x-grid-cell-inner-action-col img {
    margin-right: 5px;
}

