<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Disabled</key>
	<false/>
	<key>EnableGlobbing</key>
	<true/>
    <key>KeepAlive</key>
    <dict>
        <key>PathState</key>
        <dict>
            <key>/Volumes/EXTERNAL01/</key>
            <false/>
        </dict>
    </dict>
	<key>Label</key>
	<string>st.porter.wardrobe.mount</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/sbin/diskutil</string>
		<string>mount</string>
		<string>EXTERNAL01</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/tmp/st.porter.wardrobe.mount</string>
	<key>StandardOutPath</key>
	<string>/tmp/st.porter.wardrobe.mount</string>
</dict>
</plist>
